<div class="display d-flex align-items-center flex-column">
    <div class="title">
        The Weather App
    </div>
    <div *ngIf="spin" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <!-- <fa-icon *ngIf="spin" [icon]='faSpinner'></fa-icon> -->
    <div [ngStyle]="{'color': 'red', 'font-size': '20px'}" *ngIf="error">Enter Valid City</div>
    <div *ngIf="!spin&&!error">
        <div class='temp d-flex align-items-center justify-content-center text-start'>
            {{Temp}}° Celcius
        </div>
        <div class='city text-center'>
            {{C}}
        </div>
    </div>
</div>
<div class='input d-flex align-items-center justify-content-center flex-row'>
    <form class='inputField d-flex align-items-center' [formGroup]="weatherForm">
        <input class="text-start" type='text' name='city' placeholder='Enter city' [(ngModel)]="City"
            formControlName="city" />
    </form>
    <button (click)="handleWeather()">Get Weather</button>
</div>
<div class="errorMessage" *ngIf="weatherForm.get('city')?.touched&&weatherForm.get('city')?.hasError('pattern')">Enter
    Valid City</div>
<div class="errorMessage" *ngIf="weatherForm.get('city')?.touched&&weatherForm.get('city')?.hasError('required')">Enter
    City</div>
<div class='image'>
    <img src='../../../assets/weather-illustration.png' />
</div>