<div class="row">
    <div class="col-12 col-md-6">
        <div class="display text-center">
            <div class="title">
                The Weather App
            </div>

            <div *ngIf="spin" class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            
            <div *ngIf="!spin&&!error" class="mb-3">
                <div class='temp d-flex align-items-center justify-content-center'>
                    {{Temp}}° Celcius
                </div>
                <div class='city text-center'>
                    {{City}}
                </div>
            </div>
        </div>
        <div class='input d-flex align-items-center justify-content-center'>
            <div>
                <form class='inputField' [formGroup]="weatherForm">
                    <input class="text-start form-control" type='text' name='city' placeholder='Enter city'
                        formControlName="city" id="cityName" />
                </form>
                <div class="text-danger" *ngIf="error">Enter Valid City</div>
                <div class="text-danger"
                    *ngIf="!error&&weatherForm.get('city')?.touched&&weatherForm.get('city')?.hasError('pattern')">
                    Enter
                    Valid City</div>
                <div class="text-danger"
                    *ngIf="!error&&weatherForm.get('city')?.touched&&weatherForm.get('city')?.hasError('required')">
                    Enter
                    City</div>
            </div>

            <div>
                <button [disabled]="!weatherForm.valid" (click)="handleWeather(this.weatherForm.value.city!)">Get Weather</button>
            </div>


        </div>

    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
        <img class="img-fluid" src='../../../assets/weather-illustration.png' />
    </div>
</div>

<div>
    <!-- <h3>Weather Forecast for Next Seven Days</h3> -->
    <canvas id="myChart" width="700" height="250"></canvas>
</div>