<div class="container row">
    <div class="col-12 col-md-6">
        <div class="display d-flex align-items-center flex-column">
            <div class="title text-center">
                The Weather App
            </div>

            <div *ngIf="spin" class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>

            <div [ngStyle]="{'color': 'red', 'font-size': '20px'}" *ngIf="error">Enter Valid City</div>
            <div *ngIf="!spin&&!error" class="mb-3">
                <div class='temp d-flex align-items-center justify-content-center text-start'>
                    {{Temp}}° Celcius
                </div>
                <div class='city text-center'>
                    {{C}}
                </div>
            </div>
        </div>
        <div class='input d-flex align-items-center justify-content-center flex-column '>
            <div class="d-flex flex-row">
                <form class='inputField d-flex align-items-center' [formGroup]="weatherForm">
                    <input class="text-start form-control" type='text' name='city' placeholder='Enter city'
                         formControlName="city" />
                </form>
                <button (click)="handleWeather()">Get Weather</button>
                
            </div>
            
            <div class="errorMessage"
                *ngIf="weatherForm.get('city')?.touched&&weatherForm.get('city')?.hasError('pattern')">
                Enter
                Valid City</div>
            <div class="errorMessage"
                *ngIf="weatherForm.get('city')?.touched&&weatherForm.get('city')?.hasError('required')">
                Enter
                City</div>
        </div>

    </div>
    <div class="col-12 col-md-6 d-flex align-items-center">
        <img class="img-fluid" src='../../../assets/weather-illustration.png' />
    </div>
</div>